@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  background-color: hsl(217, 100%, 97%);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  font-size: 15px;
  letter-spacing: 0.8px;
  border: none;
}

.add-on-item input[type="checkbox" i] {
  margin: 0;
  width: 20px;
  height: 20px;
}

.button-next-step,
.button-confirm {
  width: 123px;
  height: 48px;
  border-radius: 8px;
  color: #d4eafa;
  background-color: #1f2e55;
}
.button-next-step:hover {
  background-color: #0f4a8a;
}

.button-confirm:hover {
  background-color: #8687c0;
  color: whitesmoke;
}

.button-previous-step {
  padding: 0;
  color: #a5a4af;
  background-color: transparent;
}
.button-previous-step:hover {
  color: #2e5880;
}

.input-personal-info {
  color: #385b76;
  font-weight: 500;
  font-size: 16px;
  text-indent: 13px;
  width: 100%;
  height: 48px;
  border: 1px solid #dadadc;
  border-radius: 8px;
  box-sizing: border-box;
  outline: none;
  padding-right: 0;
}

.input-personal-info:hover,
.input-personal-info:focus {
  border-color: #504d9a;
}

.input-personal-info::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  text-indent: 13px;
  color: #bdbec6;
}
.input-personal-info::-moz-placeholder {
  /* Firefox 19+ */
  text-indent: 13px;
  color: #bdbec6;
}
.input-personal-info:-ms-input-placeholder {
  /* IE 10+ */
  text-indent: 13px;
  color: #bdbec6;
}
.input-personal-info:-moz-placeholder {
  /* Firefox 18- */
  text-indent: 13px;
  color: #bdbec6;
}

.base-form-step-container {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 16px;
}
.base-form-step-container .title {
  color: #1e345e;
  font-size: 32px;
  font-weight: 700;
}
.base-form-step-container .hint {
  color: #a1a2a9;
  font-size: 16px;
  font-weight: 400;
  margin-top: 12px;
}

.base-form-step-content-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 40px;
}

.step-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

@media (max-width: 600px) {
  .base-form-step-container {
    margin-top: 25px;
    margin-bottom: 32px;
  }
  .base-form-step-container .title {
    font-size: 25px;
  }
  .step-navigation-wrapper {
    position: fixed;
    align-items: center;
    width: 100%;
    height: 72px;
    bottom: 0;
    left: 0;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #fff;
  }
}
